<h1>Kim's To Do List!</h1>
<h6> <strong> Love you always! </strong> <%= @heart %> -Pooks</h6>
<p>Please feel free to add some fun TO DO's :)</p>

<p> Note: Any and all to do's are removable, so add away! </p>

<form method="post" action="/todos">
  <label> Put your task here! </label>
    <input type="text" name="task">
    <input type="submit">
</form>

<% @todos.each do |line| %>
  <li> <%= line.task %>
    <form method="post" action="/completed/<%=line.id%>">
      <button type="completed">Completed</button>
    </form>
  </li>
<% end %>